button{
    padding: 20px;
    font-size: large;
    border-radius: 20px;
    padding-right: 50px;
    padding-left: 50px;
}

p{
    padding-left: 20px;
    padding-top: 20px;
}

div{
    padding-left: 20px;
}