<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark green">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" routerLink="/home">Coding Test I.V Amsterdam</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

      <!-- Links -->
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/home">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link waves-light" mdbWavesEffect routerLink="/contact">Contact</a>
          </li>

          <!-- Dropdown -->
          <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
              Items<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                  <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/item1" routerLinkActive="active">Item 1</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/item2" routerLinkActive="active">Item 2</a>
                  <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/item3" routerLinkActive="active">Item 3</a>
              </div>
          </li>

      </ul>
      <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->

<!--Displays selected component-->
<router-outlet></router-outlet>

